summary {
	cursor: pointer;
	text-decoration: underline;
}
summary:hover{
	
}
summary:focus{
	outline: none;
}
details summary::-webkit-details-marker { display:none; }
details > summary:first-of-type {
    list-style-type: none;
}

.logo{
	float: right;
	width: 150px;
}

.illustration{
	float: right;
	width: 300px;
	clear: right;
}

.header{
	overflow:hidden;
	border-bottom: 1px solid black;
	padding-bottom: 10px;
}